
</main>
<footer class="ui inverted vertical footer mt-auto segment bg-here">
  <div class="ui aligned container">
    <img src="img/favicon/logo.png" class="ui mini image">
    <div class="ui horizontal inverted small divided link list"> 
        <a class="ui inverted header"> Web-based In silico System to Design Oligo Mix </a>
        <a class="item">인실리코플랫폼팀</p>
        <a href="http://www.seegene.com" class="item">
          All Right Reserved  by Seegene</a>          
        <a class="item" href="mailto:jmlim@seegene.com">Contact Us</a>

     
    </div>
  </div>
</footer>

  
<script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>


<script src="script.js"></script>
<script src="https://cdn.jsdelivr.net/npm/jquery@3.3.1/dist/jquery.min.js"></script>
</body>
</html>