{% extends 'base.html' %}

{% block content %}

<div class = "row justify-content-center text-center" style = 'position:relative'>
<div class="p-4 p-md-5 text-white" id = "about" style = "height: 100vh;">
	<div class="container col-8 mt-4d">
    <div style="margin-top:36vh;">
      <h1 class="display-4 fst-italic " data-aos="fade-up">In silico system evolving into web platform
	</h1>
      <p class="lead my-5" data-aos="fade-up"  data-aos-delay="300" >For your health, Seegene pursues molecular diagnosis in our daily life. <br />WISDOM targets the optimal Oligonucleotide in support of daily molecular diagnosis.
	</p>
      <!-- <p class="lead mb-0"><a href="#" class="text-white fw-bold">Continue reading...</a></p> -->
    </div>
  </div>
</div>
</div>


{% endblock %}

 