
.ui.menu .item img.logo {
  margin-right: 1.5em;
}



.main.container {
  margin-top: 7em;
}



.ui.footer.segment {
  margin: 5em 0em 0em;
  padding: 5em 0em;
}

.t {
  -webkit-text-decoration-line: line-through;
  /* Safari */
  text-decoration-line: line-through;
}

/* https://cssgradient.io/ */
#about{
  background: rgb(128,0,0);
  background: linear-gradient(90deg, rgba(128,0,0,1) 0%, rgba(206,20,20,1) 53%);
}

.text-gray-e {
  color: gray;
}

.main-color{
  color: #ACACAC
}

.text-here {
  color: #CE1414 !important;
}

.red2{
  color: #A80505;
}
.red3{
  color: #800000
}
.bg-here, .nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #7A3A3A !important;
  
}

.color-primary-2 { color: #E93B3B }
.color-primary-3 { color: #A80505 }
.color-primary-4 { color: #800000 }

:root {
  --main-color: #800000;
  --sub-color: #A80505;
  --text-color: #E93B3B;
}



::selection {
  color: #63666A;
  background: #FDE0DC;
}

.ui.button.items {
  height: 30vh;
  line-height: 5rem;
  background: whitesmoke;
  border-radius: 2rem;
}

.ui.button.items:hover {
  background: #FDE0DC;
}

.service {
  border-top: none;
}

.circle-icon {
  background: #63666A;
  color: #FDE0DC;
}


.carousel-item {
  height: 100%;
}

.carousel-item>img {
  /* position: absolute; */
  top: 0;
  left: 0;
  /* min-width: 100%; */
  height: 17rem;
}


.carousel-control-next, .carousel-control-prev {
  color: black;
  opacity: 1;
}

.carousel-indicators li {
  background-color: gray;
}

.ui.table td {
  line-height: 2rem;
}

.accordion-button:focus {
  border-color: #FDE0DC;
  box-shadow: none;
}
